@tailwind base;
@tailwind components;
@tailwind utilities;

.rbc-today {
  background-color: #00b3b3 !important;
  color: white;
  width: fit-content !important;
}

.MuiFormLabel-root {
  display: none !important;
}

.MuiFormControl-root {
  border: none !important;
  height: "15px" !important
}
.MuiFormControl-root
  .MuiTextField-root
  .css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}



